img {
	max-width: 100%;
}

.wrapper-body,
.wrapper-main {
  display: flex;
  flex-direction: column;
}

/* .HolyGrail-nav {
  order: -1;
} */

@media (min-width: 768px) {
  .wrapper-main {
    flex-direction: row;
    flex: 1;
  }
  .warpper-main main {
    flex: 1;
  }
  .wrapper-main aside {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
}