$turkey: #FFF0EB;
$white: white;
$blue: blue;

$space-xxs: 5px;
$space-xs: 10px;
$space-sm: 15px;
$space-md: 20px;
$space-lg: 30px;
$space-xl: 40px;
$space-xxl: 60px;


/* THEME COLOURS */
// the background colour of the site (currently that peach-y colour)
$background: $turkey;

// the background behind colour on the text/posts (currently white)
$post-background: white;

// the main colour you want the links to be
$link: white;
// the colour of the links when your mouse hovers over them
$link-hover: white;

// the colour you want the social icons to be
$social-icon-color: white;

// the colour of the TEXT of the tag (currently white)
$tag-color-1: white;
// the colour of the BACKGROUND of the tag
$tag-color-2: white;

