$turkey: #FFF0EB;
$white: white;
$blue: white;

$space-xxs: 5px;
$space-xs: 10px;
$space-sm: 15px;
$space-md: 20px;
$space-lg: 30px;
$space-xl: 40px;
$space-xxl: 60px;

@mixin plain-background {
    background: $turkey;
}

@mixin gradient-background {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

@mixin graph-background {
    //you can copy and paste different patterns from here https://www.magicpattern.design/tools/css-backgrounds/
   background-color: #000000;
opacity: 1;
background-image: radial-gradient(#ffffff 1.1500000000000001px, #000000 1.1500000000000001px);
background-size: 23px 23px;
}


/* THEME COLOURS */

// the background colour of the site (currently that peach-y colour)
@mixin background {
    @include graph-background;
}

// the background behind colour on the text/posts (currently white)
$post-background: white;

// the main colour you want the links to be
$link: white;

// the colour of the links when your mouse hovers over them
$link-hover: white;

// the colour you want the social icons to be
$social-icon-color: blue;

/* TAG COLOURS */
// the colour of the TEXT of the tag (currently white)
$tag-color-1: white;
// the colour of the BACKGROUND of the tag
$tag-color-2: white;

