<article>
  <div class="comic-container">
    <img src="{{ comicPageUrl }}" />
  </div>
  <nav aria-labelledby="my-pagination">
    <h2 id="my-pagination">Webcomic Navigation</h2>
    <ul>
      <li>{% if page.url != firstPost.url %}<a href="{{ firstPost.url }}">First</a>{% else %}First{% endif %}</li>

      <li>{% if prevPost.url %}<a href="{{ prevPost.url }}">Previous</a>{% else %}Previous{% endif %}</li>

      <li>{% if nextPost.url %}<a href="{{ nextPost.url }}">Next</a>{% else %}Next{% endif %}</li>

      <li>{% if (page.url != lastPost.url) and (page.url != '/') %}<a href="{{ lastPost.url }}">Last</a>{% else %}Last{% endif %}</li>
    </ul>
  </nav>
  <p>
    <small>
      Posted on <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
    </small>
  </p>
  {{ layoutContent | safe }}
</article>