<footer>
  <small>
    A <a href="{{ pkg.repository.url }}">webcomic template</a> (with instructions for free hosting) made by <a href="https://www.katedee.com">Kate Drwęcka</a>.
  </small>
</footer>
