<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul>
  {%- for entry in navPages %}
    {% if entry.order >= 0 %}
      <li>
        <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}{% if entry.url.substring(0,4) == 'http' %} target="_blank"{% endif %}>{{ entry.title }}</a>
      </li>
    {% endif %}
  {%- endfor %}
  </ul>
</nav>
