<aside class="social">
  {% for socialName, social in metadata.social %}
    {% if social.link !== "" %}
      <span class="social__icon">
        <a href="{{social.link}}">{% include "../.." + social.icon %}</a>
      </span>
    {% endif %}
  {% endfor %}
</aside>
