<aside class="social">
  {% for socialName, social in metadata.social %}
    {% if social.link !== "" %}
      <a class="social__icon" href="{{social.link}}">{% include "../.." + social.icon %}</a>
    {% endif %}
  {% endfor %}
</aside>
