---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% for character in characters %}
  <div class="character">
    <div class="character__image">
      <img src="{{character.characterImage}}"/>
    </div>
    <div class="character__description">
      <h3>{{character.characterName}}</h3>
      {{character.characterDescription}}
    </div>
  </div>
{% endfor %}
