---
layout: layouts/base.njk
section: home
---


{% set comicPages = collections.webcomic | reverse %}

{% set firstPost = comicPages[0].data.firstPost %}
{% set prevPost = comicPages[0].data.prevPost %}
{% set nextPost = comicPages[0].data.nextPost %}
{% set lastPost = comicPages[0].data.lastPost %}
{% set layoutContent = comicPages[0].data.layoutContent %}
{% set date = comicPages[0].data.date %}

{% include "components/comicPage.njk" %}

